<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head th:fragment="config">
    <meta charset="UTF-8">
    <!-- 공통으로 쓰이는 css파일 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <!-- 공통으로 쓰이는 google font 파일 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!-- 공통으로 쓰이는 js파일 -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/header_js.js"></script>

  </head>

</th:block>
</html>