<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="header">
        <head>
            <meta charset="UTF-8">
            <title>header</title>
        </head>
        <div class="header">
            <div class="search_and_login" >
                <div class="header-logoArea" th:onclick="|location.href='@{/}'|">
                    <img class="header-logo"  th:src="@{/img/MooD_Logo.jpg}" alt="Logo" />
                </div>
                <div class="header-searchArea">
                    <div class="header-inputArea">
                        <input type="text" id="search_input" class="header-input" />
                    </div>

                    <div class="header-searchImg">
                        <img class="header-searchImg"  th:src="@{/img/icon-magnifying.jpg}" alt="icon-searchImg.jpg" />
                    </div>
                </div>

                <div class="header-loginArea">
                    <input type="button" id="login_btn" class="header-login-btn" value="로그인" th:onclick="|location.href='@{/login/login.do}'|" />
                </div>

                <span th:if="${isMember != null}" th:text="${isMember}"></span>
            </div>
        </div>

    </th:block>
</html>