<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="header">
        <head>
            <script type="text/javascript">

                // var userSession = document.querySelector('#userSession').value;
                // var userSession = $('#userSession').val().ty
                // console.log(userSession);
            </script>
            <meta charset="UTF-8">
            <title>header</title>
        </head>
        <div class="header">
            <div class="search_and_login" >
                <div class="header-logoArea" th:onclick="|location.href='@{/}'|">
                    <img class="header-logo"  th:src="@{/img/MooD_Logo.jpg}" alt="Logo" />
                </div>
                <div class="header-searchArea">
                    <div class="header-inputArea">
                        <input type="text" id="search_input" class="header-input" />
                    </div>

                    <div class="header-searchImg">
                        <img class="header-searchImg"  th:src="@{/img/icon-magnifying.jpg}" alt="icon-searchImg.jpg" />
                    </div>
                </div>

                <div class="header-loginArea" th:if="${#strings.isEmpty(session.loginMember)}">
                    <input type="submit" id="login_btn" class="header-login-btn" value="로그인" th:onclick="|location.href='@{/login/login.do}'|" />
                </div>

                <div class="header-loginArea" th:if="${not #strings.isEmpty(session.loginMember)}">
                    <form role="form" th:action ="@{/logout.do}" method="post">
                        <input type="submit" id="logout_btn" class="header-login-btn" value="로그아웃" />
                    </form>
                </div>

                <div class="header-loginArea" th:if="${not #strings.isEmpty(session.loginMember)}">
                    <input type="button" id="mypage_btn" class="header-login-btn" value="마이페이지" th:onclick="|location.href='@{/mypage/main.do}'|" />
                </div>
            </div>

            <span th:if="${not #strings.isEmpty(session.loginMember)}" th:text="${session.loginMember}"></span>
        </div>

    </th:block>
</html>