html,body {
    width: 100%;
    margin: 0;
}

.wrapper{
    position: absolute;
    margin-top: 130px;
    margin-bottom: 90px;

    width: 100%;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    background-color: #fff;

}

.header{
    position: absolute;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 7%);
}


.header-logoArea {
    float:left;
    width: 110px;
    padding-top: 10px;
    padding-right: 80px;

}

.search_and_login {
    position: absolute;
    width: 950px;
    height: 300px;
    display: flex;
    float: right;
    /*padding-left: 150px;*/
    justify-content: center;
    align-items: center;

}

.header-logoArea > img{
    max-width: 100%;
    max-height: 100%;
}

.header-loginArea {
    width: 150px;
    height: 76px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-login-btn {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    overflow: hidden;
    width: auto;    //글씨 크기가 달라진것에 맞추어 크기 변형
    height: 65px;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;

    color: #fff;
    border: solid 1.5px #2fa060;
    background: #2fa060;
    font-family: 'Noto Sans KR', sans-serif;

}

.header-searchImg {
    height: 45px;
    align-items: center;
    justify-content: center;
}

.header-searchImg > img{
    width: 100%;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;

}

.header-searchArea {
    float: left;
    width:580px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-inputArea {
    width: 70%;
    height: 60px;
    padding-top: 11px;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans KR', sans-serif;
}
.header-input {
    width: 80%;
    height: 45px;
    font-size: 25px;
    align-items: center;
    padding: 0px 11px 1px 15px;
    border-radius: 50px;
    border: solid 3px #5ea680;
    outline: none;
}

/* header css 끝 */

.footer {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    background-color: #f7f7f7;
    color: #999;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 25px;
    width: 100%;
}
.container{
    width: 800px;
    /*margin-top: 50px;*/
    /*margin-bottom: 60px;*/
    /*background-color: #fff;*/
    padding-bottom: 90px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    top: 25%;
    left: 10%;
    text-align: center;
}


.title {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1px;
    color: #333;
}

.title-left {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    text-align: left;
    letter-spacing: -1px;
    color: #333;
}


.form-items{
    /*margin-left: 90px;*/
}

.css-div{

    display: inline-flex;
    width: 100%;
    padding: 10px 20px;
    font-family: 'Noto Sans KR', sans-serif;

}
.css-labelArea {
    width: 139px;
    padding-top: 12px;
    text-align: left;
    display:flex;
    align-items:center;
}


.css-label {
    font-weight: 500;
    font-size: 14px;
    color: rgb(51, 51, 51);
    line-height: 20px;
}

.css-inputArea {
    position: relative;
    width: 250px;
    height: 48px;
    display:flex;
    align-items:center;
}


.css-input {
    width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
}

.css-input-CheckboxArea {
    position: relative;
    width: 55px;
    height: 48px;
    font-size: 16px;
    padding-top: 13px;
    display:flex;
    align-items:center;

}

.css-input-CheckboxArea > input {
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
}


.css-btnArea {
    width: 120px;
    margin-left: 8px;
    margin-left: 30px;
    display:flex;
    justify-items: center;
    align-items:center;
}


.css-btnArea > button {

    color: #fff;
    border: solid 1px #555;
    background: #555;


    width: 90px;
    height: 30px;
    /*border-radius: 3px;*/
    margin-right: auto;
    /*color: #ffcf51;*/
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
    border-radius: 21px;

    font-family: 'Noto Sans KR', sans-serif;

}

.css-long-btnArea {
    width: 40%;
    float: left;
    padding-left: 100px;
    display:flex;
    justify-items: center;
    align-items:center;
}
.css-sns-btnArea {
    width: 40%;
    display:flex;
    float: left;
}


.long-btn {
    color: #fff;
    border: solid 1px #555;
    background: #555;


    width: 100px;
    height: 30px;
    float: right;
    justify-items: center;
    /*border-radius: 3px;*/
    /*color: #ffcf51;*/
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
    border-radius: 21px;

    font-family: 'Noto Sans KR', sans-serif;
}

.css-term-btn{
    color: #222;
    border: solid 1px #dedede;
    background: #dedede;


    width: 90px;
    height: 30px;
    /*border-radius: 3px;*/
    margin-right: auto;
    margin-left: 20px;
    /*color: #ffcf51;*/
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
    border-radius: 21px;

    font-family: 'Noto Sans KR', sans-serif;

}
.btn-items {
    width: 630px;
    height: 60px;
}


.signup{

    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    border-bottom: 1px solid rgb(247, 247, 247);
    padding: 50px 0px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.signup-btn{
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;

    color: #fff;
    border: solid 1.5px #2fa060;
    background: #2fa060;
    font-family: 'Noto Sans KR', sans-serif;
}

.signup-btn-black {
    display: block;
    padding: 0px 10px;
    text-align: center;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    width: 170px;
    height: 49px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 15px;
    color: #fff;
    border: solid 1.5px #555;
    background: #555;


    width: 180px;
    /*border-radius: 3px;*/
    /*color: #ffcf51;*/
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */

    font-family: 'Noto Sans KR', sans-serif;
}
.css-alert-div{
    padding: 0px 20px;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    display:flex;
    align-items:center;
    margin-top: -10px;
}

.css-alert-val{
    font-size: 13px;
    color: rgb(0, 0, 0);

}

.css-alert-inval{
    font-size: 13px;
    color: rgb(240, 63, 64);

}


.popup-container {
    position: absolute;
    z-index: 1;
    background-color:rgba(0,0,0,.3);
    //배경색과 투명도로 살짝 어둡지만 투명한 배경
    //허공에 붕 떠있는 느낌을 주고 싶으면 안넣어도 무방
    /*justify-content:center; //수평 중앙정렬*/
    display:flex;
    margin: 0 auto;
    align-items:center;     //수직 중앙정렬
    position:fixed;         // 포지션 픽스, 화면이 스크롤되더라도 고정되기 위함
    top:0;
    left:0;
    right:0;
    bottom:0;               //모든 방향에 0을 주면 화면에 꽉차게 됩니다.
    display:none;
    //이벤트가 발생할 때 띄우기 위해 숨김
    //처음부터 보이게 하는 상황이라면 display:flex;
    padding:15px;
    //반응형의 경우 padding이 없으면 박스가 화면에 붙어서 안이뻐짐
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    /* 임시 지정 */
    width: 500px;
    height: 400px;

}

.popup-wrap{

    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.5px;
    color: #666;

}


.popup {
    width:100%;               //반응형 이기 때문에 가로값은 100%
    max-width:400px;          //팝업의 최대 크기지정
    border-radius:10px;       //둥글둥글한 디자인을 위해 각을 없앱니다.
    overflow:hidden;          //각을 없앴을 때 내부 영역이 튀어나오는걸 방지
    background-color:#264db5; //배경색
    //팝업이 허공에 떠있는 듯한 느낌을 주기 위한 그림자 효과.
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
}

.head-title {
    height: 50px;
    display: block;
    font-size: 22px;
    text-align: left;
    padding-bottom: 20px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.5px;
    color: #333;
}

.popup-body {                //몸통
    width:100%;
    background-color:#ffffff; //컨텐츠 영역의 배경색
}
.body-content {              //몸통 내부 컨텐츠 영역
    width:100%;
    height: 90%;
    padding:30px;             //좌우에 내용이 붙으면 보기 안좋기 때문에 간격 띄움
}
.body-titlebox {             //컨텐츠 타이틀 영역
    text-align:center;        //제목 중앙정렬
    width:100%;
    height:40px;
    margin-bottom:10px;       //내용과 간격 조정
}
.body-contentbox {           //컨텐츠 내용 영역

    word-break:break-word;    //단어가 짤리지 않음
    overflow-y:auto;          //내부요소가 지정한 세로 값보다 클 경우 스크롤 생성
    width: 500px;
    height: 200px;
    overflow: scroll;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.5px;
    color: #666;
    text-align: left;

}

.popup-foot{                      //다리
    width:100%;
    height:50px;
    font-size:18px;
}
.pop-btn { //각각의 버튼
    display:inline-flex;            //한줄로 나열하기 위한 inline속성과 flex속성 혼합
    width:100%;
    height:100%;                    //50px
    justify-content:center;         //수평정렬
    align-items:center;             //수직정렬
    float:left;                     //좌측배치
    color:#ffffff;                  //글자색
    cursor:pointer;                 //마우스 포인터 효과
}
.pop-btn.confirm {                 //확인버튼
    border-right:1px solid #3b5fbf; //오른쪽 줄
}

/* modal 내부 css */
.tit-main {
    display: block;
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: #333;
    font-weight: 500;
    text-align: left;
}


/* 글쓰기 페이지 textArea css */

.emotionArea {
    align-items: center;
}


.text-section {
    width: 100%;
    padding: 5px;
    align-items: center;
    border-right: solid 1px #cbcbcb;
    border-left: solid 1px #cbcbcb;
    border-bottom: solid 1px #cbcbcb;
}

.text-section-main {
    width: 100%;
    align-items: center;

    border-bottom: solid 1px #cbcbcb;
    border-right: solid 1px #cbcbcb;
    border-left: solid 1px #cbcbcb;
}

.text-btnArea-main {
    width: 100%;
    height: 45px;
    /*padding: 5px;*/
    display: flex;
    justify-items: center;
    border-top: solid 1px #cbcbcb;
}

.contents-section {
    border-top: solid 1px #cbcbcb;
    margin: 0 auto;
    font-size: 23px;
    text-align: left;
    padding: 30px 0;
}


textarea {
    width: 95%;
    min-height: 5rem;
    overflow-y: hidden;
    resize: none;
    border: none;
    IME-MODE: active;

    font-size: 22px;
}
textarea:focus {
    outline: none;
}

.sendPageNum-div {
    width: 100%;
    margin: 0 auto;
    align-items: center;
}
.contents-spanArea-css {
    display: flex;
    width: 88%;
    margin: 0 auto;
    font-size: 23px;
    /*transform: translate(-50%, -50%);*/
    text-align: center;
    /*padding: 40px 0;*/
    /*text-align: left;*/
}

.contents-span-css {
    width: 100%;
    padding: 20px;
    text-align: left;

}

.text-btnArea {
    width: 100%;
    height: 60px;
    /*padding: 5px;*/
    display: flex;
    justify-items: center;
    border-top: solid 1px #cbcbcb;
}


.default-btnArea {
    width: 294px;
    height: 100%;
    float: right;
    padding: 3px;
    justify-items: center;
}

.default-smallBtnArea {
    width: 500px;
    height: 100%;
    float: left;
    padding: 3px;
}


.default-btn{
    display: block;
    padding: 0px 10px;
    overflow: hidden;
    width: 80px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;

    color: #fff;
    border: solid 1.5px #2fa060;
    background: #2fa060;
    font-family: 'Noto Sans KR', sans-serif;

}

.list-btnArea {
    width: 200px;
    height: 45px;
    float: left;
    padding: 3px;
}

.btn-greenBlack {
    width: 55%;
    height: 40px;
    font-size: 22px;
    display: block;
    padding: 0px;
    border-radius: 13px;
    border: solid 1.5px #113c24;
    background: #113c24;
    color: #fff;
}

/* emotion  */

.emotionArea {
    width: 100%;
    height: 100px;

}

.emotionArea > img {
    width: 90px;
}

.top-btnArea {
    padding: 5px;
    width: 40px;
    height: 20px;
    float: right;

}

.top-btnArea > img {
    width:20px;
}

.dropdown-content{
    display : none;
    position : absolute;
    float: left;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #f9f9f9;
    min-width : 200px;
}

.dropdown-content div{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 12px;
    padding : 12px 20px;
}

.dropdown-content div:hover{
    background-color : #ececec
}
