<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--공통 css, js-->
    <th:block th:replace="fragments/config :: config"></th:block>
    <script type="text/javascript">

    function check_pw(){

            if(document.getElementById('userPw').value!=''&&document.getElementById('checkPw').value!=''){
                if(document.getElementById('userPw').value == document.getElementById('checkPw').value){
                    document.getElementById('check').innerHTML = "비밀번호가 일치합니다."
                    document.getElementById('check').style.color='green';
                }else{
                    document.getElementById('check').innerHTML = "비밀번호가 일치하지 않습니다."
                    document.getElementById('check').style.color='red';
                }
            }
        }
    $(document).ready(function() {
            $('input[type="checkbox"]').click(function (){
                if($("#kakaoYn").is(":checked")){
                    $("#kakaoYn").val("Y");
                }
                if($("#term1").is(":checked")){
                    $("#term1").val("Y");
                }
                if($("#term2").is(":checked")){
                    $("#term2").val("Y");
                }
            })
    });

    $(document).ready(function() {
        var isIdChecked = false;    //중복체크했을 땐 true로 변경
        var isNickChecked = false;    //중복체크했을 땐 true로 변경

        $("input[name='userId']").on("change", function(e){
            isIdChecked = false;    //userId값이 변경될 때마다 중복체크버튼값 리셋
        });

        $("input[name='nickName']").on("change", function(e){
            isNickChecked = false;    //nickName값이 변경될 때마다 중복체크버튼값 리셋
        });
    });



    $(function() {   //1

        $("#idCheckBtn").on("click", function (e) { //2

            e.preventDefault(); //form 태그안의 버튼이라 그냥 submit 되는거 방지

            $.ajax({    //3
                url: '/member/checkId.do',
                type:'post',
                data: {"userId" : $("input[name='userId']").val()},
                success: function (data) {
                    // 성공 시 실패 메시지 hide, 성공 메시지 show
                    if(data=="사용가능") {
                        isIdChecked=true;
                        $('#idNotAvailable').hide();
                        $('#idAvailable').show().text(data).append($('<br />'));
                    }
                    // 실패 시 실패 메시지 show, 성공 메시지 hide
                    else{
                        $('#idAvailable').hide();
                        var idVal = $('#idNotAvailable').show().text('이미 사용중인 \n아이디 입니다.').append($('<br/>'));
                        idVal.html(idVal.html().replace(/\n/g, '<br/>'));

                    }

                }, error: function (req,status,err) {
                    console.log(req);

                }
            })
        })


        $(function() {   //1

            $("#nickCheckBtn").on("click", function (e) { //2

                e.preventDefault(); //form 태그안의 버튼이라 그냥 submit 되는거 방지

                $.ajax({    //3
                    url: '/member/checkNick.do',
                    type: 'post',
                    data: {"nickName": $("input[name='nickName']").val()},
                    success: function (data) {
                        // 성공 시 실패 메시지 hide, 성공 메시지 show
                        if (data == "사용가능") {
                            isNickChecked = true;
                            $('#nickNotAvailable').hide();
                            $('#nickAvailable').show().text(data).append($('<br />'));
                        }
                        // 실패 시 실패 메시지 show, 성공 메시지 hide
                        else {
                            $('#nickAvailable').hide();
                            var nickVal = $('#nickNotAvailable').show().text('이미 사용중인 \n닉네임 입니다.').append($('<br/>'));
                            nickVal.html(nickVal.html().replace(/\n/g, '<br/>'));
                        }

                    }, error: function (req, status, err) {
                        console.log(req);

                    }
                })
            })
        })
    });

    $(document).ready(function() {
        //$("#term-popup1").css('display', 'flex').hide();
        $("#term-popup1").hide();
        $("#term-popup2").hide();
    });
    $(function() {
        $("#confirm").click(function () {
            modalClose(); //모달 닫기 함수 호출

            //컨펌 이벤트 처리
        });
        $("#checkTerm1").click(function () {
            $("#term-popup1").show();
        });
        $("#checkTerm2").click(function () {
            $("#term-popup2").show();
        });
        $("#term1-close").click(function () {
            modalCloseTerm1(); //모달 닫기 함수 호출
        });
        $("#term2-close").click(function () {
            modalCloseTerm2(); //모달 닫기 함수 호출
        });
        function modalCloseTerm1(){

            $("#term-popup1").hide();
        }
        function modalCloseTerm2(){

            $("#term-popup2").hide();
        }
    });
    </script>
    <title>회원가입</title>
</head>
<body>
<div class="page">
    <th:block th:replace="fragments/header :: header"></th:block>
    <div class="wrapper">
        <div class="container">
            <div class="title"><h3>회원가입</h3></div>
            <form role = "form" th:action="@{/member/join.do}" th:object="${member}" method="post">
                <!--회원가입시 카카오 로그인 여부는 N으로 설정-->
                <input type="hidden" id="kakaoYn" name="kakaoYn" value="N"/>
                <div class="form-items">
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="userId" class="css-label">아이디</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="text" id="userId" name="userId" class="css-input" placeholder="아이디를 입력하세요">
                        </div>
                        <div class="css-alert-div">
                            <p id="idAvailable" class="css-alert-val" style="display: none;"></p>
                            <p id="idNotAvailable" class="css-alert-inval" style="display: none;"></p>
                        </div>
                        <div class="css-btnArea">
                            <button id="idCheckBtn">중복확인</button>
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="userPw" class="css-label">비밀번호</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="password" id="userPw" name="userPw" class="css-input" placeholder="비밀번호를 입력하세요">
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="checkPw" class="css-label">비밀번호 확인</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="password" id="checkPw" name="checkPw" class="css-input" placeholder="비밀번호를 한번 더 입력하세요" onKeyUp="check_pw()"/>&nbsp;<span id="check"></span>
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="userName" class="css-label">이름</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="text" id="userName" name="userName" class="css-input" placeholder="이름을 입력하세요">
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="nickName" class="css-label">닉네임</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="text" id="nickName" name="nickName" class="css-input" placeholder="닉네임을 입력하세요">
                        </div>
                        <div class="css-alert-div">
                            <p id="nickAvailable" class="css-alert-val" style="display: none;"></p>
                            <p id="nickNotAvailable" class="css-alert-inval" style="display: none;"></p>
                        </div>
                        <div class="css-btnArea">
                            <button id="nickCheckBtn">중복확인</button>
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="phoneNum" class="css-label">휴대폰번호</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="text" id="phoneNum" name="phoneNum" class="css-input" placeholder="휴대폰번호를 입력하세요">
                        </div>
                    </div>

                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="term1" class="css-label">필수 동의1</label>
                        </div>
                        <div class="css-input-CheckboxArea">
                            <input type="checkbox" id="term1" name="term1" value="N">
                        </div>
                        <div class="css-btnArea">
                            <input type="button" id="checkTerm1" class="css-term-btn" value="약관보기"/>
                        </div>
                        <th:block th:replace="member/popup/term1 :: term1"></th:block>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="term2" class="css-label">필수 동의2</label>
                        </div>
                        <div class="css-input-CheckboxArea">
                            <input type="checkbox" id="term2" name="term2" value="N">
                        </div>
                        <div class="css-btnArea">
                            <input type="button" id="checkTerm2" class="css-term-btn" value="약관보기"/>
                        </div>
                            <th:block th:replace="member/popup/term2 :: term2"></th:block>
                </div>

                <div class="signup">
                    <div>
                        <button type="submit" class="signup-btn">회원가입하기</button>
                    </div>
                </div>

            </form>
        </div>
    </div><!-- /container -->
    <th:block th:replace="fragments/footer :: footer"></th:block>
    </div><!-- /wrapper -->
</div><!-- /page -->
</body>
</html>