<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!--공통 css, js-->
    <th:block th:replace="fragments/config :: config"></th:block>
    <script type="text/javascript">
        //회원가입 버튼 클릭시
        function checks() {
            //유효성
            let checkIdVal = /^[a-zA-Z0-9]{8,15}$/; //아이디와 비밀번호 유효성 검사 정규식
            let checkPwVal = /^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&_+=]).*$/; //비밀번호 유효성 검사 정규식
            let checkName = /^[가-힣]{0,50}$/; //이름 유효성 검사 정규식(한글만 가능)
            let checkNickname = /[가-힣a-zA-Z]/; //닉네임 유효성 검사 정규식(한글만 가능)
            let checkPhoneVal = /^01(?:0|1|[6-9])(?:\d{3}|\d{4})\d{4}$/;//핸드폰 번호 유효성 검사 정규식
            //값 불러오기
            let userId = document.getElementById("userId"); //아이디
            let userPw = document.getElementById("userPw"); //비밀번호
            let userPwChk = document.getElementById("checkPw"); //비밀번호 확인
            let userName = document.getElementById("userName"); //이름
            let userNickname = document.getElementById("userNickname"); //이름
            let userPhone = document.getElementById("phoneNum"); //핸드폰번호

            /*아이디 유효성 검사*/
            //아이디에서 입력 필수 조건문
            if (userId.value == '') {
                alert("아이디를 입력해야 합니다.");
                return false;
            }
            //아이디 입력 문자수를 8~15자로 제한하는 조건문
            if (!checkIdVal.test(userId.value)) {
                alert("아이디는 8~15자 이내로 입력 가능합니다.");
                return false;
            }
            //아이디 중복 체크
            if ($("#idCheckBtn").val() != "Y") {
                alert('중복 체크를 해야합니다.');
                $('#idCheckBtn').focus();
                return false;
            }
            //비밀번호에서 입력 필수 조건문
            if (userPw.value == '') {
                alert("비밀번호를 입력해야 합니다.");
                return false;
            }
            //비밀번호 입력 문자수를 8~15자/특수문자로 제한하는 조건문
            if (!checkPwVal.test(userPw.value)) {
                alert("비밀번호는 특수문자를 포함해야합니다. 사용가능 특수문자:[!@#$%^&_+=]");
                return false;
            }
            if (userPwChk.value == '') {
                alert("비밀번호 확인을 입력해야 합니다.");
                return false;
            }

            /*이름 유효성검사*/
            if (userName.value == '') {
                alert("이름을 입력해주세요.");
                return false;
            }
            //이름 한글 입력
            if (!checkName.test(userName.value)) {
                alert("특수문자,영어,숫자는 사용할수 없습니다. 한글만 입력하여 주세요.");
                return false;
            }

            /*닉네임 유효성검사*/
            if (nickname.value == '') {
                alert("닉네임을 입력해주세요.");
                return false;
            }

            //닉네임 유효성 검사
            if (!checkNickname.test(userNickname.value)) {
                alert("특수문자는 사용할수 없습니다. 한글, 영문, 숫자만 입력하여 주세요.");
                return false;
            }

            /*핸드폰 번호 유효성검사*/
            //핸드폰 번호에서 입력 필수 조건문
            if (userPhone.value == '') {
                alert("핸드폰 번호 입력해주세요.");
                return false;
            }
            //핸드폰 번호 형식 입력
            if (!checkPhoneVal.test(userPhone.value)) {
                alert("(-) 제외 형식으로 입력하여주세요.");
                return false;
            }
            //필수 약관 동의
            if ($("input:checkbox[name=term1]:checked").val() == 'N') {
                alert("약관 동의에 체크 해주세요.");
                return false;
            }
            //개인정보 동의
            if ($("input:checkbox[name=term2]:checked").val() == 'N') {
                alert("개인정보 동의에 체크 해주세요.");
                return false;
            }
        }
            <!-- /유효성 검사 -->

    function check_pw(){

            if(document.getElementById('userPw').value!=''&&document.getElementById('checkPw').value!=''){
                if(document.getElementById('userPw').value == document.getElementById('checkPw').value){
                    document.getElementById('check').innerHTML = "비밀번호가 일치합니다."
                    document.getElementById('check').style.color='green';
                }else{
                    document.getElementById('check').innerHTML = "비밀번호가 일치하지 않습니다."
                    document.getElementById('check').style.color='red';
                }
            }
        }
    $(document).ready(function() {
            $('input[type="checkbox"]').click(function (){
                if($("#kakaoYn").is(":checked")){
                    $("#kakaoYn").val("Y");
                }
                if($("#term1").is(":checked")){
                    $("#term1").val("Y");
                }
                if($("#term2").is(":checked")){
                    $("#term2").val("Y");
                }
            })
    });

    $(document).ready(function() {
        let isIdChecked = false;    //중복체크했을 땐 true로 변경
        let isNickChecked = false;    //중복체크했을 땐 true로 변경

        $("input[name='userId']").on("change", function(e){
            isIdChecked = false;    //userId값이 변경될 때마다 중복체크버튼값 리셋
        });

        $("input[name='nickName']").on("change", function(e){
            isNickChecked = false;    //nickName값이 변경될 때마다 중복체크버튼값 리셋
        });
    });



    $(function() {   //1

        $("#idCheckBtn").on("click", function (e) { //2
            $("#idCheckBtn").val('Y');
            e.preventDefault(); //form 태그안의 버튼이라 그냥 submit 되는거 방지

            $.ajax({    //3
                url: '/member/checkId.do',
                type:'post',
                data: {"userId" : $("input[name='userId']").val()},
                success: function (data) {
                    // 성공 시 실패 메시지 hide, 성공 메시지 show
                    if(data=="사용가능") {
                        isIdChecked=true;
                        $('#idNotAvailable').hide();
                        $('#idAvailable').show().text(data).append($('<br />'));

                    }
                    // 실패 시 실패 메시지 show, 성공 메시지 hide
                    else{
                        $('#idAvailable').hide();
                        let idVal = $('#idNotAvailable').show().text('이미 사용중인 \n아이디 입니다.').append($('<br/>'));
                        idVal.html(idVal.html().replace(/\n/g, '<br/>'));

                    }

                }, error: function (req,status,err) {
                    console.log(req);

                }
            })
        })


        $(function() {   //1

            $("#nickCheckBtn").on("click", function (e) { //2

                e.preventDefault(); //form 태그안의 버튼이라 그냥 submit 되는거 방지

                $.ajax({    //3
                    url: '/member/checkNick.do',
                    type: 'post',
                    data: {"nickName": $("input[name='nickName']").val()},
                    success: function (data) {
                        // 성공 시 실패 메시지 hide, 성공 메시지 show
                        if (data == "사용가능") {
                            isNickChecked = true;
                            $('#nickNotAvailable').hide();
                            $('#nickAvailable').show().text(data).append($('<br />'));
                        }
                        // 실패 시 실패 메시지 show, 성공 메시지 hide
                        else {
                            $('#nickAvailable').hide();
                            let nickVal = $('#nickNotAvailable').show().text('이미 사용중인 \n닉네임 입니다.').append($('<br/>'));
                            nickVal.html(nickVal.html().replace(/\n/g, '<br/>'));
                        }

                    }, error: function (req, status, err) {
                        console.log(req);

                    }
                })
            })
        })
    });

    $(document).ready(function() {
        //$("#term-popup1").css('display', 'flex').hide();
        $("#term-popup1").hide();
        $("#term-popup2").hide();
    });
    $(function() {
        $("#confirm").click(function () {
            modalClose(); //모달 닫기 함수 호출

            //컨펌 이벤트 처리
        });
        $("#checkTerm1").click(function () {
            $("#term-popup1").show();
        });
        $("#checkTerm2").click(function () {
            $("#term-popup2").show();
        });
        $("#term1-close").click(function () {
            modalCloseTerm1(); //모달 닫기 함수 호출
        });
        $("#term2-close").click(function () {
            modalCloseTerm2(); //모달 닫기 함수 호출
        });
        function modalCloseTerm1(){

            $("#term-popup1").hide();
        }
        function modalCloseTerm2(){

            $("#term-popup2").hide();
        }
    });
    </script>
    <title>회원가입</title>
</head>
<body>
<div class="page">
    <th:block th:replace="fragments/header :: header"></th:block>
    <div class="wrapper">
        <div class="container">
            <div class="title"><h3>회원가입</h3></div>
            <form role = "form" th:action="@{/member/join.do}" th:object="${member}" method="post" th:onsubmit="return checks()">
                <!--회원가입시 카카오 로그인 여부는 N으로 설정-->
                <input type="hidden" id="kakaoYn" name="kakaoYn" value="N"/>
                <div class="form-items">
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="userId" class="css-label">아이디</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="text" id="userId" name="userId" class="css-input" minlength="8" maxlength="15" placeholder="아이디를 입력하세요"/>
                        </div>
                        <div class="css-alert-div">
                            <p id="idAvailable" class="css-alert-val" style="display: none;"></p>
                            <p id="idNotAvailable" class="css-alert-inval" style="display: none;"></p>
                        </div>
                        <div class="css-btnArea">
                            <button id="idCheckBtn">중복확인</button>
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="userPw" class="css-label">비밀번호</label>
                        </div>
                        <div class="css-inputArea">
                            <!--소대문자 a~z 숫자 1~9까지-->
                            <input type="password" id="userPw" name="userPw" class="css-input" placeholder="비밀번호를 입력하세요">
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="checkPw" class="css-label">비밀번호 확인</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="password" id="checkPw" name="checkPw" class="css-input" minlength="8" maxlength="15" onKeyUp="check_pw()" placeholder="비밀번호를 한번 더 입력하세요" />&nbsp;<span id="check"></span>
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="userName" class="css-label">이름</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="text" id="userName" name="userName" class="css-input" minlength="1" maxlength="15" placeholder="이름을 입력하세요">
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="nickName" class="css-label">닉네임</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="text" id="nickName" name="nickName" class="css-input" minlength="1" maxlength="15" placeholder="닉네임을 입력하세요">
                        </div>
                        <div class="css-alert-div">
                            <p id="nickAvailable" class="css-alert-val" style="display: none;"></p>
                            <p id="nickNotAvailable" class="css-alert-inval" style="display: none;"></p>
                        </div>
                        <div class="css-btnArea">
                            <button id="nickCheckBtn">중복확인</button>
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="phoneNum" class="css-label">휴대폰번호</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="text" id="phoneNum" name="phoneNum" class="css-input" pattern="[0-9]+" maxlength="13" placeholder="휴대폰번호를 입력하세요">
                        </div>
                    </div>

                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="term1" class="css-label">필수 동의1</label>
                        </div>
                        <div class="css-input-CheckboxArea">
                            <input type="checkbox" id="term1" name="term1" value="N">
                        </div>
                        <div class="css-btnArea">
                            <input type="button" id="checkTerm1" class="css-term-btn" value="약관보기"/>
                        </div>
                        <th:block th:replace="member/popup/term1 :: term1"></th:block>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="term2" class="css-label">필수 동의2</label>
                        </div>
                        <div class="css-input-CheckboxArea">
                            <input type="checkbox" id="term2" name="term2" value="N">
                        </div>
                        <div class="css-btnArea">
                            <input type="button" id="checkTerm2" class="css-term-btn" value="약관보기"/>
                        </div>
                            <th:block th:replace="member/popup/term2 :: term2"></th:block>
                </div>

                <div class="signup">
                    <div>
                        <button type="submit" class="signup-btn" onclick="checks()">회원가입하기</button>
                    </div>
                </div>

            </form>
        </div>
    </div><!-- /container -->
    <th:block th:replace="fragments/footer :: footer"></th:block>
    </div><!-- /wrapper -->
</div><!-- /page -->
</body>
</html>