<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
            $('input[type="checkbox"]').click(function (){
                if($("#kakaoYn").is(":checked")){
                    $("#kakaoYn").val("Y");
                }
                if($("#term1").is(":checked")){
                    $("#term1").val("Y");
                }
                if($("#term2").is(":checked")){
                    $("#term2").val("Y");
                }
            })
    });

    $(document).ready(function() {
        var isIdChecked = false;    //중복체크했을 땐 true로 변경

        $("input[name='userId']").on("change", function(e){
            isIdChecked = false;    //userId값이 변경될 때마다 중복체크버튼값 리셋
        });
    });



    $(function() {   //1

        $("#idCheckBtn").on("click", function (e) { //2

            e.preventDefault(); //form 태그안의 버튼이라 그냥 submit 되는거 방지
            //userId에 값 넣기

            $.ajax({    //3
                url: '/member/checkId',
                type:'post',
                data: {"userId" : $("input[name='userId']").val()},
                success: function (data) {
                    // 성공 시 실패 메시지 hide, 성공 메시지 show
                    if(data=="사용가능") {
                        isIdChecked=true;
                        $('#idNotAvailable').hide();
                        $('#idAvailable').show().text(data).append($('<br />'));
                    }
                    // 실패 시 실패 메시지 show, 성공 메시지 hide
                    else{
                        $('#idAvailable').hide();
                        $('#idNotAvailable').show().text('이미 사용중인 아이디 입니다.').append($('<br />'));
                    }

                }, error: function (req,status,err) {
                    console.log(req);

                }
            })
        })
    });


    </script>
</head>
<body>
<div class="container">
    <form action="/member/join.do" method="post">
        <div class="form-group">
            <label for="userId">아이디</label>
            <input type="text" id="userId" name="userId" placeholder="아이디를 입력하세요">
            <d id="idAvailable" class="valid-feedback" style="display: none;"></d>
            <d id="idNotAvailable" class="invalid-feedback" style="display: none;"></d>

            <button id="idCheckBtn">중복확인</button>

            <label for="userPw">비밀번호</label>
            <input type="password" id="userPw" name="userPw" placeholder="비밀번호를 입력하세요">
            <label for="userName">이름</label>
            <input type="text" id="userName" name="userName" placeholder="이름을 입력하세요">
            <label for="nickName">닉네임</label>
            <input type="text" id="nickName" name="nickName" placeholder="닉네임을 입력하세요">
            <label for="phoneNum">휴대폰번호</label>
            <input type="text" id="phoneNum" name="phoneNum" placeholder="휴대폰번호를 입력하세요">
            <label for="kakaoYn">카카오로그인여부</label>
            <input type="checkbox" id="kakaoYn" name="kakaoYn" value="N">
            <label for="term1">필수 동의1</label>
            <input type="checkbox" id="term1" name="term1" value="N">
            <label for="term2">필수 동의2</label>
            <input type="checkbox" id="term2" name="term2" value="N">
        </div>
        <button type="submit">등록</button>
    </form>

</div> <!-- /container -->
</body>
</html>