<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">

    //친구 추가 성공시 메소드
        function showFriend(result){
            var newFriend
                newFriend += "<tr id='newFriend'><td>"+searchFriend+"</td>"
                newFriend += "<td><input type='button' value='삭제' onclick=\"delFriend(this.id)\"/></td>"
                newFriend += "</tr>"


            $("#friendList tbody").prepend(newFriend);
            $("#newFriend").attr('id',searchFriend);
            var friendNum = $("#friendList tr").length;
            alert("friendNum : " + friendNum);
            $("input[value='삭제']").attr('id',friendNum+'_'+searchFriend);
            friendNum = friendNum++;
            $("input[value='삭제']").hide();
            $("#tab1").hide();

        }

        function output(userIdChk){
            $("#tab1").show();
            var result = '<br>';

                result +="<tr><td>"+userIdChk
                result += "<button type='button' id='addFriend_btn' name='addFriend_btn'>"+"친구추가하기"+"</button>"+"</td>"
                result += "</tr>"

            result += "<br>"
            $("#tab1").html(result)
            friendId = userId   //전역변수로 검색결과 아이디를 firendId값으로 초기화
        }

        $(function addFriend(){

            $(document).on("click", "#addFriend_btn", function(e){

                console.log("addAjax : searchFriend" + searchFriend )
                e.preventDefault();
                var param = {"friendIdRaw" : searchFriend};
                console.log("addAjax : param",param )
                $.ajax({
                    url: '/mypage/addFriend.do',
                    type:'post',
                    contentType:'application/json',
                    dataType:"json",
                    data: JSON.stringify(param),
                    success: function (data){
                        // 성공 시
                        alert("친구 추가 성공!")
                    },error(req,status,err){
                        // 실패 시
                        alert("친구 추가에 실패했습니다")
                    }
                }).done(function (result){
                        showFriend(result)


                }).fail(function (jqXHR, textStatus, errorThrown){
                    console.log("에러");
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                });
            })
        });


        $(function() {

            $("#findFriend_Btn").on("click", function (e) {

                e.preventDefault();

                var userId = $("input[name='userId']").val();

                $.ajax({
                    url: '/mypage/searchFriend.do',
                    type:'get',
                    data: {"userId" : $("input[name='userId']").val()},
                    success: function (data) {
                        //자기 자신을 조회했을 경우
                        if(data['code']){
                            var errorCode = data['code'] //컨트롤러에서 넘긴 변수 이름
                            alert(errorCode);
                        }else {

                            // 성공 시 실패 메시지 hide, 성공 메시지 show
                            var userIdChk = data['friend']
                            searchFriend = userIdChk
                            console.log("data : ", data)
                            console.log("userIdChk : ", userIdChk)
                            //console.log("friend : " , friend)


                            if (userIdChk == userId) {
                                alert("친구 조회를 완료했습니다.");

                                console.log("data : " + data)
                                console.log("userId : " + userId)
                                //document.writeln(typeof userId)
                                output(userIdChk)
                            }
                            // 실패 시 실패 메시지 show, 성공 메시지 hide
                            else {
                                alert("해당 아이디를 가진 친구가 없습니다.");
                                console.log(data.userId)
                            }
                        }
                    }, error: function (req,status,err) {
                        console.log(req);
                        alert("친구 조회에 실패했습니다.");

                    }
                }).fail(function (jqXHR, textStatus, errorThrown){
                    console.log("에러");
                    console.log(jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                });
            })

        });


    // 문서가 처음 로드됐을때 설정
    document.addEventListener("DOMContentLoaded", function (){
        var input_btn = $("#friendList input[type=button]");
        // object 타입 key:value 구조
        $.each(input_btn,function (index,value){
            input_btn.hide();
        });
    });
        //편집하기 버튼 클릭시
        $(document).on('click','#editFriend_btn',function(){

            //edit_btn = $("#editFriend_btn").val();
            if($("#editFriend_btn").val()=="off"){
                $("#editFriend_btn").val("on");
            }else if ($("#editFriend_btn").val()=="on"){
                $("#editFriend_btn").val("off");
            }

            //div friendList 안에 모든 input 버튼으로 제어
            var input_btn = $("#friendList input[type=button]");

             if($("#editFriend_btn").val() =="on"){
                $.each(input_btn,function (index,value){
                    input_btn.show();
                });
            }else if($("#editFriend_btn").val() =="off"){
                 $.each(input_btn,function (index,value){
                     input_btn.hide();
                 });
             }

        });

        // 친구 삭제 버튼 클릭시
        function delFriend(clicked_id) {
            alert("clicked_id : " + clicked_id);
            var lastIndex = clicked_id.length;
            var splited_id = clicked_id.substring(clicked_id.indexOf('_') + 1, lastIndex);
            alert("splited_id : " + splited_id);

            delId = splited_id;
            var delParam = {"delId" : splited_id};
            $.ajax({
                url: '/mypage/deleteFriend.do',
                type: 'post',
                contentType:'application/json',
                dataType:"json",
                data: JSON.stringify(delParam),
                success: function (data) {
                    //친구 삭제 실패시
                    if (data['code']) {
                        var errorCode = data['code']
                        alert(errorCode);
                    } else {
                        // 친구삭제 성공
                       alert("친구 삭제 성공");
                       // tr을 지우기
                        $('#'+delId).remove();
                    }

                }, error: function (req, status, err) {
                        console.log(req);
                        alert("친구 삭제에 실패했습니다.");
                }

            }).fail(function (jqXHR, textStatus, errorThrown) {
                console.log("에러");
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);

            });
        }
    </script>


    <meta charset="UTF-8">
    <title>friendList</title>
</head>
<body>
<div class="wrapper">
    <div class="title"><h3 style="font-size:25px;">내 친구 찾기</h3></div>

    <input type="text" id="userId" name="userId" placeholder="친구 아이디를 입력하세요"/>
    <button type="button" id="findFriend_Btn" name="findFriend_Btn">친구 찾기</button>


<div id="tab1">
    <div id="indexListAjax"></div>
</div>

    <div id="tab2">
        <h2>내 친구 목록</h2><br>
        <div>
            <button type="button" th:id="editFriend_btn" th:value="off">편집하기</button>
        </div>

        <div>
            <!-- 리스트가 비어 있는 경우 -->
            <div th:if="${#lists.isEmpty(friendList)}">
                <p>친구가 없습니다.. </p>
            </div>
            <!-- 리스트가 있는 경우 -->
            <div id="friendList">
                <table>
                    <tbody>
                        <tr th:unless="${#lists.isEmpty(friendList)}" th:id="${friend.friendId}" th:each="friend:${friendList}">
                            <td th:text="${friend.friendId}" ></td>
                            <td><input type="button" th:id="${friendStat.count+'_'+friend.friendId}" th:value="삭제" onclick="delFriend(this.id)"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        </div>
    </div>
</div>


</body>
</html>