<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--공통 css, js-->
    <th:block th:replace="fragments/config :: config"></th:block>
    <script type="text/javascript">

        function check_pw(){
            //let pwVal = document.getElementById('userPw').value;
            // let checkInput = 0;

            if(document.getElementById('userPw').value!=''&&document.getElementById('checkPw').value!=''){
                if(document.getElementById('userPw').value == document.getElementById('checkPw').value){
                    document.getElementById('check').innerHTML = "비밀번호가 일치합니다."
                    document.getElementById('check').style.color='green';
                }else{
                    document.getElementById('check').innerHTML = "비밀번호가 일치하지 않습니다."
                    document.getElementById('check').style.color='red';
                }
            }
        }
        $(document).ready(function() {
            $('input[type="checkbox"]').click(function (){
                if($("#kakaoYn").is(":checked")){
                    $("#kakaoYn").val("Y");
                }
                if($("#term1").is(":checked")){
                    $("#term1").val("Y");
                }
                if($("#term2").is(":checked")){
                    $("#term2").val("Y");
                }
            })
        });

        $(document).ready(function() {
            let isIdChecked = false;    //중복체크했을 땐 true로 변경
            let isNickChecked = false;    //중복체크했을 땐 true로 변경

            $("input[name='userId']").on("change", function(e){
                isIdChecked = false;    //userId값이 변경될 때마다 중복체크버튼값 리셋
            });

            $("input[name='nickName']").on("change", function(e){
                isNickChecked = false;    //nickName값이 변경될 때마다 중복체크버튼값 리셋
            });
        });


            $(function() {   //1

                $("#nickCheckBtn").on("click", function (e) { //2

                    e.preventDefault(); //form 태그안의 버튼이라 그냥 submit 되는거 방지

                    $.ajax({    //3
                        url: '/member/checkNick.do',
                        type: 'post',
                        data: {"nickName": $("input[name='nickName']").val()},
                        success: function (data) {
                            // 성공 시 실패 메시지 hide, 성공 메시지 show
                            if (data == "사용가능") {
                                isNickChecked = true;
                                $('#nickNotAvailable').hide();
                                $('#nickAvailable').show().text(data).append($('<br />'));
                            }
                            // 실패 시 실패 메시지 show, 성공 메시지 hide
                            else {
                                $('#nickAvailable').hide();
                                $('#nickNotAvailable').show().text('이미 사용중인 닉네임 입니다.').append($('<br />'));
                            }

                        }, error: function (req, status, err) {
                            console.log(req);

                        }
                    })
                })
        });


    </script>
    <title>내 정보 수정하기</title>
</head>
<body>
<div class="page">
    <th:block th:replace="fragments/header :: header"></th:block>
    <div class="wrapper">
        <div class="container">
            <div class="title"><h3>내 정보 수정하기</h3></div>
            <tr>
                <td th:value="${member.reg_date}" id="reg_date" name="reg_date"></td>
            </tr>
            <form role="form" th:action="@{/mypage/updateInfo.do}" th:object="${member}" method="post">

                <input type="hidden" th:field="${member.reg_date}" id="reg_date" name="reg_date"/>
                <div class="form-items">
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="userId" class="css-label">아이디</label>
                        </div>
                        <div class="css-inputArea">
                            <td th:text="${member.userId}"></td>
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="userPw" class="css-label">비밀번호</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="password" id="userPw" name="userPw" class="css-input" placeholder="비밀번호를 입력하세요">
                        </div>
                    </div>
                        <div class="css-div">
                            <div class="css-labelArea">
                                <label for="checkPw" class="css-label">비밀번호 확인</label>
                            </div>
                            <div class="css-inputArea">
                                <input type="password" id="checkPw" name="checkPw" class="css-input" placeholder="비밀번호를 한번 더 입력하세요" onKeyUp="check_pw()" />&nbsp;<span id="check"></span>
                            </div>
                        </div>

                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="userName" class="css-label">이름</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="text" th:value="${member.userName}" id="userName" name="userName" class="css-input" placeholder="이름을 입력하세요"/>
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="nickName" class="css-label">닉네임</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="text" th:value="${member.nickName}"id="nickName" name="nickName" class="css-input" placeholder="닉네임을 입력하세요"/>
                        </div>
                        <div class="css-alert-div">
                            <d id="nickAvailable" class="css-alert-val" style="display: none;"></d>
                            <d id="nickNotAvailable" class="css-alert-inval" style="display: none;"></d>
                        </div>
                        <div class="css-btnArea">
                            <button id="nickCheckBtn" >중복확인</button>
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="phoneNum" class="css-label">휴대폰번호</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="text" th:value="${member.phoneNum}" id="phoneNum" name="phoneNum" class="css-input" placeholder="휴대폰번호를 입력하세요"/>
                        </div>
                    </div>

                    <div class="signup">
                        <button type="submit" class="signup-btn">수정완료</button>
                    </div>
                </div>

            </form>

        </div> <!-- container -->
        <th:block th:replace="fragments/footer :: footer"></th:block>
    </div> <!--wrapper -->
</div><!-- page -->
</body>
</html>