<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--공통 css, js-->
    <th:block th:replace="fragments/config :: config"></th:block>
    <script type="text/javascript">
        /* 텍스트 박스 리사이징 */
        function resize(obj) {
            obj.style.height = '1px';
            obj.style.height = (12 + obj.scrollHeight) + 'px';
        }
    </script>
    <meta charset="UTF-8">
    <title>글쓰기페이지</title>
</head>
<body>
<div class="page">
    <th:block th:replace="fragments/header :: header"></th:block>
    <div class="wrapper">
        <div class="container">
                <form role = "form" id="moodForm" name="moodForm" th:action="@{/mood/write.do}" th:object="${mood}" method="post">
                    <div class="emotionArea" id="emotionArea">
                        <img th:src="@{/img/emotion/happy_def.png}" th:id="happy" class="emotion-img" alt="happy_def.png" th:value="unchecked" onclick="checkClick(this.id)"/>
                        <img th:src="@{/img/emotion/alright_def.png}" th:id="alright" class="emotion-img" alt="alright_def.png" th:value="unchecked" onclick="checkClick(this.id)"/>
                        <img th:src="@{/img/emotion/notBad_def.png}" th:id="notBad" class="emotion-img" alt="notBad_def.png" th:value="unchecked" onclick="checkClick(this.id)"/>
                        <img th:src="@{/img/emotion/angry_def.png}" th:id="angry" class="emotion-img" alt="angry_def.png" th:value="unchecked" onclick="checkClick(this.id)"/>
                        <img th:src="@{/img/emotion/annoyed_def.png}" th:id="annoyed" class="emotion-img" alt="annoyed_def.png" th:value="unchecked" onclick="checkClick(this.id)"/>
                        <img th:src="@{/img/emotion/depressed_def.png}" th:id="depressed" class="emotion-img" alt="depressed_def.png" th:value="unchecked" onclick="checkClick(this.id)"/>
                        <img th:src="@{/img/emotion/sad_def.png}" th:id="sad" class="emotion-img" alt="sad_def.png" th:value="unchecked" onclick="checkClick(this.id)"/>
                    </div>

                    <div class="text-section">
                        <textarea id="contents" name="contents" placeholder="What's happening?" autofocus onkeydown="resize(this)" onkeyup="resize(this)"></textarea>


                        <div class="text-btnArea">
                            <div class="default-smallBtnArea">
                                <img class="default-smallBtn"  th:src="@{/img/list_btn/photo_btn.png}" alt="photoBtn" />
                            </div>
                            <div class="default-btnArea">
                                <button type="submit" class="default-btn">Mood</button>
                            </div>
                        </div>
                    </div>

                </form>
        </div>
        <th:block th:replace="fragments/footer :: footer"></th:block>
    </div>
</div>
</body>
</html>