<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--공통 css, js-->
    <th:block th:replace="fragments/config :: config"></th:block>
    <script type="text/javascript">
        /* 텍스트 박스 리사이징 */
        function resize(obj) {
            obj.style.height = '1px';
            obj.style.height = (12 + obj.scrollHeight) + 'px';
        }

        /* 목록 버튼 */
        function goList() {
            var link = '/';
            location.replace(link);
        }

        /* 감정 정보 담아서 글전송 */
        function takeEmotion(){
            const emoVal = document.querySelectorAll('#emotionArea > img');
            const moodForm = document.getElementById('moodForm');

            for(let i=0; i < emoVal.length; i++){
                if(emoVal[i].value==="checked"){
                    var moodVal = emoVal[i].id;
                }
            }
            alert(moodVal);

            /** 감정정보가 있을때만 input에 담아서 전송 **/
            if(!isEmpty(moodVal)) {
                const emoInput = document.createElement('input');
                emoInput.setAttribute("type","text");
                emoInput.setAttribute("name","emotion");
                emoInput.setAttribute("value",moodVal);

                //append input (to form)
                moodForm.appendChild(emoInput);

                //append form(to body)
                document.body.appendChild(moodForm);

                // submit form
                moodForm.submit();
            }

            moodForm.submit();
        }

        /**
         * 문자열이 빈 문자열인지 체크하여 결과값을 리턴한다.
         * @param str		: 체크할 문자열
         */
        function isEmpty(str){

            if(typeof str == "undefined" || str == null || str == "")
                return true;
            else
                return false ;
        }

        // function uploadAjax() {
        //     alert("업로드 클릭");
        //     var formData = new FormData();
        //
        //     var inputFile = $("input[type='file']");
        //
        //     var files = inputFile[0].files;
        //
        //     for (var i = 0; i < files.length; i++) {
        //         console.log(files[i]);
        //         formData.append("photo", files[i]);
        //     }
        //     // readImage(inputFile);
        //     //실제 업로드 부분
        //     //upload ajax
        //     //파일업로드를 위해 contentType 속성을 반드시 false로 지정한다 -> multipart/form-data 타입을 사용하기위해
        //     $.ajax({
        //         url: '/mood/upload.do',
        //         processData: false,
        //         contentType: false,
        //         data: formData,
        //         type: 'POST',
        //         success: function (result) {
        //             console.log(result);
        //             //나중에 화면 처리
        //             alert(result);
        //         },
        //         error: function (jqXHR, textStatus, errorThrown) {
        //             console.log(textStatus);
        //             alert(textStatus);
        //         }
        //
        //     }); //$.ajax
        // }


        /* html 최초 로드 및 이벤트 상시 대기 실시 */
        window.onload = function () {
            // 클릭 카운트 0으로 초기화(전역변수)
            //모두 언체크된 상태로 만든다.
            $(".emotionArea > img").val("unchecked");
        }


        /* 이미지 클릭 체크 */
        function checkClick(imgId){

            const allImg = document.querySelectorAll('#emotionArea > img');
            var chkVal = $("#"+imgId).val();
            var clickedIdx = $("#"+imgId).index();

            if(chkVal=="unchecked") {
                $("#"+imgId).val("checked");
                $("#"+imgId).attr("src","/img/emotion/"+imgId+"_color.png");
                // 해당 값 빼고 다른 이미지들 값 unchecked로 리셋해주기

                for(let i=0; i < allImg.length; i++){
                    if(i != clickedIdx){
                        var unchkId = allImg[i].id
                        $("#"+unchkId).val("unchecked");
                        $("#"+unchkId).attr("src","/img/emotion/"+unchkId+"_def.png");
                    }
                }

            }else {
                $("#"+imgId).val("unchecked");
                $("#"+imgId).attr("src","/img/emotion/"+imgId+"_def.png");
            }
        }

        /* 이미지 첨부시 미리보기 */
        function readImage(input) {
            // 인풋 태그에 파일이 있는 경우
            if(input.files && input.files[0]) {

                var reader = new FileReader();
                reader.onload = function(e){
                    document.getElementById('showImage').src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);

            }else {
                document.getElementById('showImage').src = "";
            }

        }

        // function clickCheck(){
        //     clickCnt++;
        //     alert(clickCnt);
        // }
        /* 이미지 버튼 클릭시 인풋버튼 추가 */
        // function addInput(labelId){
        //     // clickCnt++;
        //     // alert(clickCnt);
        //     var labelIdEl = document.getElementById(labelId);
        //     // var inputCnt = labelIdEl.childElementCount;
        //     // alert("clickCnt : "+clickCnt)
        //     //클릭하는것을 개수를 세고 개수가 4개이상이면 안만들어지게
        //     // if(clickCnt==inputCnt && inputCnt<=4){
        //         var newInput = document.createElement("input");
        //         newInput.setAttribute("type","file");
        //         newInput.setAttribute("name","imageFiles");
        //         newInput.setAttribute("class","photo-input");
        //         newInput.setAttribute("onchange","readImage(this)")
        //         var labelEl = document.getElementById(labelId);
        //         //라벨 안에다가 인풋버튼 추가하기
        //         labelEl.appendChild(newInput);
        //         newInput.click();
        //         // var allInput = document.querySelectorAll("input[name='imageFiles']");
        //         // var inputId = allInput[inputCnt-1];
        //         // alert("inputCnt : "+inputCnt)
        //         // inputId.click();
        //
        //     // }
        //
        //
        // }
        var clickCnt = 0;
        // $(document).ready(function (){
        $(function () {

            $("#imgLabel").click(function () {


                // var inputCnt = labelIdEl.childElementCount;

                //클릭하는것을 개수를 세고 개수가 4개이상이면 안만들어지게
                 if (clickCnt < 4){
                     alert("아직 "+ clickCnt + "번째");
                     var newInput = document.createElement("input");
                     newInput.setAttribute("type", "file");
                     newInput.setAttribute("id", clickCnt+"_id");
                     newInput.setAttribute("name", "imageFiles");
                     newInput.setAttribute("class", "photo-input");
                     newInput.setAttribute("onchange", "readImage(this)")
                     var labelEl = document.getElementById("imgLabel");
                     alert("setAttribute");
                     // //라벨 안에다가 인풋버튼 추가하기
                     labelEl.appendChild(newInput);
                     var newInputId = newInput.id;
                     alert("newInputId" + newInputId);

                     // $("#"+newInputId).trigger("click");    //클릭이벤트 강제 발생
                     //$("#imgLabel").children("input:eq(0)").trigger("click");//클릭이벤트 강제 발생

                 }

                clickCnt++;
            });

            // });
        });

    </script>
    <meta charset="UTF-8">
    <title>글쓰기페이지</title>
</head>
<body>
<div class="page">
    <th:block th:replace="fragments/header :: header"></th:block>
    <div class="wrapper">
        <div class="container">

            <!-- 목록 버튼 -->
            <div class="list-btnArea">
                <input type="button" id="listBtn" class="btn-greenBlack" th:onclick="goList()" value="목록">
            </div>
                <form role = "form" th:id="moodForm" th:name="moodForm" th:action="@{/mood/write.do}" th:object="${mood}"  method="post" enctype="multipart/form-data">
                    <div class="emotionArea" id="emotionArea">
                        <img th:src="@{/img/emotion/happy_def.png}" th:id="happy" class="emotion-img" alt="happy_def.png" th:value="unchecked" onclick="checkClick(this.id)"/>
                        <img th:src="@{/img/emotion/alright_def.png}" th:id="alright" class="emotion-img" alt="alright_def.png" th:value="unchecked" onclick="checkClick(this.id)"/>
                        <img th:src="@{/img/emotion/notBad_def.png}" th:id="notBad" class="emotion-img" alt="notBad_def.png" th:value="unchecked" onclick="checkClick(this.id)"/>
                        <img th:src="@{/img/emotion/angry_def.png}" th:id="angry" class="emotion-img" alt="angry_def.png" th:value="unchecked" onclick="checkClick(this.id)"/>
                        <img th:src="@{/img/emotion/annoyed_def.png}" th:id="annoyed" class="emotion-img" alt="annoyed_def.png" th:value="unchecked" onclick="checkClick(this.id)"/>
                        <img th:src="@{/img/emotion/depressed_def.png}" th:id="depressed" class="emotion-img" alt="depressed_def.png" th:value="unchecked" onclick="checkClick(this.id)"/>
                        <img th:src="@{/img/emotion/sad_def.png}" th:id="sad" class="emotion-img" alt="sad_def.png" th:value="unchecked" onclick="checkClick(this.id)"/>
                    </div>

                    <div class="text-section-write">
                        <textarea id="contents" name="contents" placeholder="What's happening?" autofocus onkeydown="resize(this)" onkeyup="resize(this)">
                        </textarea>
                        <img style="width: 500px;" th:id="showImage">

                        <div class="text-btnArea">
                            <div class="default-smallBtnArea">
<!--                                <div id="imgLabel" th:onclick="addInput(this.id)">-->
                                <div id="imgLabel"><img class="default-smallBtn" th:src="@{/img/list_btn/photo_btn.png}" alt="photoBtn" th:id="selPhotoBtn" />
<!--                                <input type="file" th:multiple="multiple" id="imageFiles" name="imageFiles" class="photo-input" onchange="readImage(this);"/>-->
                                </div>
<!--                                <button type="button" th:id="uploadBtn" class="uploadBtn" th:onclick="uploadFile()">Upload</button>-->

                            </div>

                            <div class="default-btnArea">
                                <button type="button" class="default-btn" th:onclick="takeEmotion()">Mood</button>
                            </div>
                        </div>
                    </div>

                </form>
        </div>
        <th:block th:replace="fragments/footer :: footer"></th:block>
    </div>
</div>
</body>
</html>