<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--공통 css, js-->
    <th:block th:replace="fragments/config :: config"></th:block>
    <script type="text/javascript">

    function check_pw() {
        var pwVal = document.getElementById('updatePw').value;
        var checkInput = 0;

        if(document.getElementById('updatePw').value!=''&&document.getElementById('checkPw').value!=''){
            if(document.getElementById('updatePw').value == document.getElementById('checkPw').value){
                document.getElementById('check').innerHTML = "비밀번호가 일치합니다."
                document.getElementById('check').style.color='green';

            }else{
                document.getElementById('check').innerHTML = "비밀번호가 일치하지 않습니다."
                document.getElementById('check').style.color='red';
            }
        }
    }

    $(document).ready(function() {
            var isAuthChecked = false;    //중복체크했을 땐 true로 변경

            $("input[name='phoneNum']").on("change", function(e){
                isAuthChecked = false;    //phoneNum 값이 변경될 때마다 중복체크버튼값 리셋
            });
        });

        $(function() {   //1

            $("#authBtn").on("click", function (e) { //2

                //e.preventDefault(); //form 태그안의 버튼이라 그냥 submit 되는거 방지

                $.ajax({    //3
                    url: '/login/findId.do',
                    type: 'get',
                    data: {"phoneNum": $("input[name='phoneNum']").val()},
                    success: function (data) {
                        strData = data.numStr;
                        userId = data.userId;
                        console.log("gbl_data : " + strData);
                        console.log("userId : " + userId);
                        // 성공 시
                        //if (data == "1") {
                        if (data) {
                            isAuthChecked = true;
                            alert("인증번호 발송 완료!");
                        }
                        // 실패 시
                        else {
                            alert("해당 번호로 가입한 아이디가 없습니다.");
                        }

                    }, error: function (req, status, err) {
                        console.log(req);

                    }
                })
                    .done(function (result) {
                        console.log("result : " + result.userId);
                        $('#authNumBtn').click(function () {
                            console.log($.trim(strData));
                            if ($.trim(strData) == $('#authNum').val()) {
                                alert("휴대폰 인증이 정상적으로 완료되었습니다.");
                                $("#userId").replaceWith("<div class='css-div'><div class='css-labelArea'><label class='css-label'>아이디 : "+"</label></div>" + "<div class='css-inputArea'>"+result.userId+"</div></div>");
                            } else {
                                alert("인증번호가 일치하지 않습니다.");
                            }

                        })
                    })
            });

            $(function() {   //1

                $("#updatePwBtn").on("click", function (e) { //2

                    //e.preventDefault(); //form 태그안의 버튼이라 그냥 submit 되는거 방지

                    $.ajax({    //3
                        url: '/login/findPw.do',
                        type: 'post',
                        data: {
                            "updatePw": $("input[name='updatePw']").val(),
                            "userId" : userId
                        },
                        success: function (data) {

                            // 성공 시
                            if (data) {
                                alert("비밀번호가 변경되었습니다.");
                            }
                            // 실패 시
                            else {
                                alert("비밀번호 변경에 실패했습니다.");
                            }

                        }, error: function (req, status, err) {
                            console.log(req);

                        }
                    })

                    })
                });


            function check_pw() {
                var pwVal = document.getElementById('updatePw').value;
                var checkInput = 0;

                if (document.getElementById('updatePw').value != '' && document.getElementById('checkPw').value != '') {
                    if (document.getElementById('updatePw').value == document.getElementById('checkPw').value) {
                        document.getElementById('check').innerHTML = "비밀번호가 일치합니다."
                        document.getElementById('check').style.color = 'green';
                    } else {
                        document.getElementById('check').innerHTML = "비밀번호가 일치하지 않습니다."
                        document.getElementById('check').style.color = 'red';
                    }
                }
            }
        });

    </script>
</head>
<body>
<div class="page">
    <th:block th:replace="fragments/header :: header"></th:block>
    <div class="wrapper">
            <div class="container">
                        <div class="form-items">
                            <div class="title-left"><h3>아이디/비밀번호 찾기</h3></div>
                            <div class="css-div">
                                <div class="css-labelArea">
                                    <label for="phoneNum" class="css-label">휴대폰 번호</label>
                                </div>
                                <div class="css-inputArea">
                                    <input type="text" id="phoneNum" name="phoneNum" class="css-input" placeholder="휴대폰 번호를 입력하세요"/>
                                </div>
                                <div class="css-long-btnArea">
                                    <button type="button" id="authBtn" class="long-btn">본인인증하기</button><br>
                                </div>
                            </div>

                            <div class="css-div">
                                <div class="css-labelArea">
                                    <label for="authNum" class="css-label">인증번호</label>
                                </div>
                                <div class="css-inputArea">
                                    <input type="text" id = "authNum" name="authNum" class="css-input" placeholder="인증번호를 입력하세요">
                                </div>
                                <div class="css-long-btnArea">
                                    <button type="button" id = "authNumBtn" class="long-btn">인증번호 전송</button>
                                </div>
                            </div>
                                <!--아이디 노출-->
                                <div id="userId" name="userId" class="css-inputArea"/>
                            </tr>
                        </div>
                    <div class="title-left"><h3>비밀번호 찾기</h3></div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="updatePw" class="css-label">새 비밀번호</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="password" id="updatePw" name="updatePw" onKeyUp="check_pw()" class="css-input" placeholder="새로운 비밀번호를 입력하세요"/>
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="checkPw" class="css-label">비밀번호 확인</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="password" id="checkPw" name="checkPw" onKeyUp="check_pw()" class="css-input" placeholder="비밀번호를 한번 더 입력하세요"/>&nbsp;<span id="check"></span>
                        </div>
                        <div class="css-btnArea">
                            <button type="submit" id = "updatePwBtn" class="long-btn" >변경하기</button>
                        </div>
                    </div>

                </div>
            </div>
        <th:block th:replace="fragments/footer :: footer"></th:block>
        </div>
    </div>
</div>
</body>
</html>