<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var isAuthChecked = false;    //중복체크했을 땐 true로 변경

            $("input[name='phoneNum']").on("change", function(e){
                isAuthChecked = false;    //phoneNum 값이 변경될 때마다 중복체크버튼값 리셋
            });
        });

        $(function() {   //1

            $("#authBtn").on("click", function (e) { //2

                e.preventDefault(); //form 태그안의 버튼이라 그냥 submit 되는거 방지

                $.ajax({    //3
                    url: '/login/findId.do',
                    type: 'post',
                    async:false,    // 받아온 데이터 저장하기 위해 사용
                    data: {"phoneNum": $("input[name='phoneNum']").val()},
                    success: function (data) {
                        gbl_data = data;
                        // 성공 시
                        //if (data == "1") {
                        if (data) {
                            isAuthChecked = true;
                            alert("인증번호 발송 완료!");
                        }
                        // 실패 시
                        else {
                            alert("해당 번호로 가입한 아이디가 없습니다.");
                        }

                    }, error: function (req, status, err) {
                        console.log(req);

                    }
                })
            })
        });

        $(function(){
            $('#authNumBtn').click(function() {
                console.log($.trim(gbl_data));
                if ($.trim(gbl_data) == $('#authNum').val()) {
                    alert("휴대폰 인증이 정상적으로 완료되었습니다.");
                } else {
                    alert("인증번호가 올바르지 않습니다.");
                }
            });

        /*$('#authBtn').click(function(){
            let phoneNum = $('#phoneNum').val();
            Swal.fire('인증번호 발송 완료!')

            $.ajax({
                type: "post",
                url: "/api/sendsms.do",
                data: {
                    "phoneNum" : phoneNum
                },
                success: function(res){
                    $('#authNumBtn').click(function(){
                        if($.trim(res) ==$('#authNum').val()){
                            Swal.fire(
                                '인증성공!',
                                '휴대폰 인증이 정상적으로 완료되었습니다.',
                                'success'
                            )

                            /!*$.ajax({
                                type: "GET",
                                url: "/update/phone",
                                data: {
                                    "phoneNum" : $('#phoneNum').val()
                                }
                            })*!/
                            //document.location.href="/home";
                        }else{
                            Swal.fire({
                                icon: 'error',
                                title: '인증오류',
                                text: '인증번호가 올바르지 않습니다!',

                            })
                        }
                    })


                }
   */
        });

    </script>
</head>
<body>
<div class="wrapper">
    <div class="title"><h3 style="font-size:25px;">아이디/비밀번호 찾기</h3></div>
        <div class="container">

                <div class="form-group">
                    <input type="text" id="phoneNum" name="phoneNum"/>
                    <button type="button" id = "authBtn">본인인증하기</button>
                    <input type="text" id = "authNum" name="authNum">
                    <button type="button" id = "authNumBtn">인증번호 입력</button>
                </div>




아이디 보이게
비밀번호 찾기 버튼

변경할 비밀번호
비밀번호 확인
변경완료 버튼
        </div>
    </div>
</div>
</body>
</html>