<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!--공통 css, js-->
    <th:block th:replace="fragments/config :: config"></th:block>
    <!-- 카카오 api -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>

    <script>

        Kakao.init('ba070048027e6570755ddafa675ea8a3');
        Kakao.isInitialized();
        console.log(Kakao.isInitialized());

        function loginWithKakao() {
            Kakao.Auth.authorize({
                redirectUri: 'http://localhost:8080/login/kakaoOauth.do'
            })
        }
        // 아래는 데모를 위한 UI 코드입니다.
        displayToken()
        function displayToken() {
            const token = getCookie('authorize-access-token')
            if(token) {
                Kakao.Auth.setAccessToken(token)
                Kakao.Auth.getStatusInfo(({ status }) => {
                    if(status === 'connected') {
                        document.getElementById('token-result').innerText = 'login success. token: ' + Kakao.Auth.getAccessToken()
                    } else {
                        Kakao.Auth.setAccessToken(null)
                    }
                })
            }
        }
        function getCookie(name) {
            const value = "; " + document.cookie;
            const parts = value.split("; " + name + "=");
            if (parts.length === 2) return parts.pop().split(";").shift();
        }

    </script>
</head>
<body>
<!--<div class="page">-->
    <th:block th:replace="fragments/header :: header"></th:block>
    <div class="wrapper">
        <div class="container">
            <form th:action="@{/login/login.do}" method="post">
                <div class="form-items">
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="userId" class="css-label">아이디</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="text" id="userId" name="userId" class="css-input" placeholder="아이디를 입력하세요">
                        </div>
                    </div>
                    <div class="css-div">
                        <div class="css-labelArea">
                            <label for="userPw" class="css-label">비밀번호</label>
                        </div>
                        <div class="css-inputArea">
                            <input type="password" id="userPw" name="userPw" class="css-input" placeholder="비밀번호를 입력하세요">
                        </div>
                    </div>

                </div>
                <div class="signup">
                    <div>
                        <button type="submit" class="signup-btn">로그인하기</button>
                    </div>
                </div>
            </form>
            <div class="btn-items">
                <div class="css-long-btnArea">
                    <button th:onclick="|location.href='@{/member/join.do}'|" class="signup-btn-white">회원가입하기</button>
                </div>
                <div class="css-sns-btnArea">
                    <a id="custom-login-btn" href="javascript:loginWithKakao()">
                        <img
                                src="//k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg"
                                width="180"
                                alt="카카오 로그인 버튼"
                        />
                    </a>
                    <p id="token-result"></p>

                </div>

                <div class="css-long-btnArea">
                    <button th:onclick="|location.href='@{/login/findIdPw.do}'|" class="signup-btn-black">아이디/비밀번호찾기</button>
                </div>
            </div>
    </div> <!-- /container -->
        <th:block th:replace="fragments/footer :: footer"></th:block>
    </div> <!-- /wrapper -->
<!--</div> &lt;!&ndash; /page &ndash;&gt;-->
</body>
</html>